
.goals {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(232, 240, 255);
}

.goals-left-container {
    display: flex;
    flex-direction: column;
    margin: 8vh 0;
    width: 30%;
}

.goals-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 3vh 3vw;
    background-color: #fff;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgb(187, 187, 187);
}

#title {
    margin-left: 30px;
    margin-bottom: 0;
}

.goals-content {
    width: 90%;
    height: 12%;
    margin: 0;
}

.goals-category {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;

}

#my-goals {
    width: 80%;
}

.new-goal-container {
    margin: 0vh 3vw;
    width: 80%;
    height: 5vh;
}

.new-goal-input {
    font-family: 'Roboto Serif', sans-serif;
    border: none;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    font-size: 2.4vh;
}

.new-goal-input:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
    font-family: 'Roboto Serif', sans-serif;
}

.post-goal-btn {
    font-family: 'Roboto Serif', sans-serif;
    margin: vh 0;
    background-color: rgb(145, 185, 223);
    color: #fff;
    font-weight: 500;
    border: none;
    height: 4vh;
    width: 30%;
    border-radius: 18px;
}

.new-goal-btn {
    font-family: 'Roboto Serif', sans-serif;
    background-color: rgb(145, 185, 223);
    color: #fff;
    font-weight: 500;
    border: none;
    height: 4vh;
    width: 100%;
    border-radius: 18px;
}

.new-goal-btn:hover {
    background-color: rgb(194, 222, 248);
}

ul {
    width: 100%;

}

.goal-item {
    font-size: 1em;
}

.goals-right-container {
    margin: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.goals-input {
    display: flex;
    align-items: center;
    height: 24vh;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgb(187, 187, 187);
}

.goals-post-content {
    margin: 0 2vw;
}


.update-dropdown {
    background-color: #fff;
    margin: 2vh 0vw;
    padding: 10px;
    border: solid 1px rgb(238, 238, 238);
    border-radius: 10px;;
    width: 50%;
}

.dropdown {
    display: flex;
    align-items: center;
    background-color: #fff;
    /* margin: 2vh 0vw; */
    padding: 10px;
    border: solid 1px rgb(238, 238, 238);
    border-radius: 10px;;
    width: 100%;
}


.post-input-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-btn {
    font-family: 'Roboto Serif', sans-serif;
    margin: vh 0;
    background-color: rgb(145, 185, 223);
    color: #fff;
    font-weight: 500;
    border: none;
    height: 4vh;
    width: 40%;
    border-radius: 18px;

}

.post-btn:hover {
    background-color: rgb(194, 222, 248);
}


.post-input {
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    margin: 0 2vw;
    font-size: 1em;
    font-family: 'Roboto Serif', sans-serif;
    padding: 1vh;
}

.post-input:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
    font-family: 'Roboto Serif', sans-serif;
    padding: 1vh;
}


.Modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: rgb(232, 240, 255);
    box-shadow: 4px 4px 8px rgb(187, 187, 187);
    border-radius: 30px;
}

#modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    text-align: center;
}

.btn-left {
    font-family: 'Roboto Serif', sans-serif;
    margin: 3vh 0;
    background-color: rgb(145, 185, 223);
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    border: none;
    height: 4vh;
    width: 20%;
    border-radius: 18px;

}

.post-btn:hover {
    background-color: rgb(194, 222, 248);
}


#goals-input {
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    font-size: 1em;
    font-family: 'Roboto Serif', sans-serif;
    padding: 1vh;
}

.goal-description {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 20%;
    margin-bottom: 3vh;
    font-size: 1em;
    font-family: 'Roboto Serif', sans-serif;
    padding: 1vh;
}

#select {
    width: 100%;
}
