

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* background-color: rgb(232, 240, 255); */
    background-color: rgb(145, 185, 223);
    color: #fff;
}

.home-login-container {
    margin: 2vh 0;
}

.home-login {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.home-login:hover {
    color: rgb(255, 209, 157);
}

.home-description {
    font-weight: 300;
    font-style: italic;
}