
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    width: auto;
    height: 100%;
    padding: 10px;
    list-style-type: none;
    background-color: rgb(145, 185, 223);
}

.navbar-item:hover {
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.link:hover {
    color: rgb(215, 226, 255);
}


